streamlit 
pandas
matplotlib
seaborn


## Database connectors
# psycopg2
# psycopg2-binary 
# mysql-connector-python 
snowflake-connector-python  # https://docs.snowflake.com/developer-guide/python-connector/python-connector-install
# sqlalchemy
